# Ignore log files
*.log

# Ignore environment variable files
*.env

# Ignore Python bytecode and cache directories
__pycache__/
*.pyc
*.pytest_cache/

# Ignore system files
*.DS_Store

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore virtual environment directories
venv/
env/

# Ignore build outputs and test artifacts
build/
dist/
*.egg-info/

# Ignore Git directory
.git/

# Ignore any temporary files or directories
tmp/
temp/
